@font-face {
    font-family: bit_like_font_1;
    src: url(slkscrb.ttf);
}

@font-face {
    font-family: bit_like_font_2;
    src: url(slkscreb.ttf);
}

@font-face {
    font-family: bit_like_font_3;
    src: url(slkscre.ttf);
}

@font-face {
    font-family: bit_like_font_4;
    src: url(slkscr.ttf);
}

.entry {
    background-image: url("images/you_shall_not_pass2.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color:#ce3635;
    text-align: center;
    color:#fff;

}

.lista {
    background-color:#ce3635;
    text-align: center;
    color:#fff;

}
.left_half_box {
    width: 50%;
    position: relative;
    float: left;

}
.right_half_box {
    width: 50%;
    position: relative;
    float: right;

}
.month_box {
    position: relative;
    text-align: left;
}

.month_name {
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
}

.activities {
    position: relative;
}

.top_bar_center {
    text-align: center;
    position: relative;
}

.top_bar_left {
    text-align: left;
    position: relative;
}
 
.rodape {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    background-color:#ce3635;
    text-align: center;
    color:#ce3635;
}
.rodape:hover {
    padding: 0.5em;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    right: 0;
    width: 90px;
    margin: 0 auto;
    height: 120px;
}
